.vs/
obj/
*.cache
FristProject/bin/DAL.dll
FristProject/bin/WeiKeDAL.dll
FristProject/bin/ProjectDAL.dll
WeiKeDAL/obj/Debug/WeiKeDAL.csproj.CoreCompileInputs.cache
WeiKeDAL/obj/Debug/WeiKeDAL.csproj.CoreCompileInputs.cache
DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
DAL/bin/Release/DAL.dll
DAL/bin/Release/DAL.pdb
DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAL/obj/Release/DAL.csproj.CoreCompileInputs.cache
WeiKeDAL/obj/Debug/WeiKeDAL.csproj.CoreCompileInputs.cache
WeiKeDAL/obj/Release/WeiKeDAL.csproj.CoreCompileInputs.cache
FristProject/obj/Release/Package/PackageTmp/bin/FristProject.dll
DAL/bin/Debug/DAL.dll
DAL/bin/Debug/DAL.pdb
DAL/obj/Debug/DAL.dll
DAL/obj/Debug/DAL.pdb
DAL/obj/Release/DAL.csproj.CoreCompileInputs.cache
DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
FristProject/FristProject.csproj.user
FristProject/FristProject.csproj.user
DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAL/bin/Release/DAL.dll
DAL/bin/Release/DAL.pdb
DAL/obj/Release/DAL.csprojAssemblyReference.cache
DAL/obj/Release/DAL.dll
DAL/obj/Release/DAL.pdb
FristProject/bin/DAL.pdb
FristProject/bin/FristProject.dll
FristProject/bin/FristProject.pdb
FristProject/bin/ProjectDAL.dll
FristProject/bin/ProjectDAL.pdb
FristProject/bin/Release/Publish/bin/DAL.dll
FristProject/bin/Release/Publish/bin/DAL.pdb
FristProject/bin/Release/Publish/bin/FristProject.dll
FristProject/bin/Release/Publish/bin/FristProject.pdb
FristProject/bin/Release/Publish/bin/ProjectDAL.dll
FristProject/bin/Release/Publish/bin/ProjectDAL.pdb
FristProject/bin/Release/Publish/bin/WeiKeDAL.dll
FristProject/bin/Release/Publish/bin/WeiKeDAL.pdb
FristProject/bin/WeiKeDAL.pdb
FristProject/bin/Release/Publish/bin/WeiKeDAL.pdb
FristProject/bin/WeiKeDAL.pdb
